:root {
  --coink-green: #1EEA00;
  --coink-dark-green: #004b40;
  --coink-white: #ffffff;
  --coink-primary-text: #323232; 
  --coink-secondary-text: #757575; 

  /* RGB */
  --coink-green-rgb: 30, 234, 0;
  --coink-dark-green-rgb: 0, 75, 64;
  --coink-white-rgb: 255, 255, 255;

}
