
ion-content{
  --padding-top: 25px;
  --padding-bottom: 25px;
  --padding-start: 25px;
  --padding-end: 25px;
}

.header{
  padding: 1rem 0 1rem 0;
}

.header ion-img{
  height: auto;
  width: 200px;
  margin: auto;
}

.header-text{
  font-size: 16px;
  color: var(--coink-dark-green);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0 0 1rem 0;
}

.register{
  padding: 25px;
}
.register ion-img{
  width: 100px;
  height: auto;
  max-width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}