<form [formGroup]="accountDataForm" (ngSubmit)="onSubmit()">
  <ion-title>Documento de identidad</ion-title>
  <ion-item>
    <ion-select formControlName="documentType" placeholder="Tipo de documento">
      <ion-select-option value="cc">Cédula de Ciudadanía</ion-select-option>
      <ion-select-option value="ce">Cédula de Extranjería</ion-select-option>
      <ion-select-option value="passport">Pasaporte</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input type="text" formControlName="documentNumber" placeholder="Número de documento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="date" formControlName="documentIssueDate"
      placeholder="Fecha de expedición del documento"></ion-input>
    <!-- <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Fecha de expedición del documento" formControlName="documentIssueDate" interface="popover"></ion-datetime> -->
  </ion-item>
  <ion-item>
    <ion-input type="date" formControlName="birthDate" placeholder="Fecha de nacimiento"></ion-input>
    <!-- <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Fecha de nacimiento" formControlName="birthDate" interface="popover"></ion-datetime> -->
  </ion-item>
  <ion-item>
    <ion-select formControlName="gender" placeholder="Género">
      <ion-select-option value="male">Masculino</ion-select-option>
      <ion-select-option value="female">Femenino</ion-select-option>
      <ion-select-option value="other">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-title>Configura tu cuenta</ion-title>
  <ion-item>
    <ion-input type="email" formControlName="email" placeholder="Correo electrónico"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="email" formControlName="confirmEmail" placeholder="Confirmar correo electrónico"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [type]="hidePin ? 'password' : 'text'" formControlName="securityPin"
      placeholder="PIN de seguridad"></ion-input>
    <ion-icon slot="end" name="eye" (click)="togglePinVisibility()"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input [type]="hideConfirmPin ? 'password' : 'text'" formControlName="confirmPin"
      placeholder="Confirmar PIN de seguridad"></ion-input>
    <ion-icon slot="end" name="eye" (click)="toggleConfirmPinVisibility()"></ion-icon>
  </ion-item>
</form>