.coink-button {
  width: 100%;
  --padding-top: 20px;
  --padding-bottom: 20px;
  font-size: 16px;
  color: var(--coink-dark-green);
  border: none;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
  --box-shadow: none;
}

/* Primary */
.coink-button.primary {
  color: var(--coink-dark-green);
  --background: var(--coink-green);
  --background-hover: rgba(var(--coink-green-rgb), 0.9);
  --background-activated: rgba(var(--coink-green-rgb), 0.6);
  --background-focused: rgba(var(--coink-green-rgb), 0.9);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  --box-shadow: 0 3px 6px rgba(var(--coink-green-rgb), 0.3)
}

/* Secondary */

.coink-button.secondary {
  color: var(--coink-white);
  --background: var(--coink-dark-green);
  --background-hover: rgba(var(--coink-green-rgb), 0.9);
  --background-activated: rgba(var(--coink-green-rgb), 0.6);
  --background-focused: rgba(var(--coink-green-rgb), 0.9);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.coink-button.disabled {
  color: #757575;
  --background: #EEEEEE;
  --background-hover: #EEEEEE;
  --background-activated: #EEEEEE;
  --background-focused: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
  --box-shadow: none;
  font-weight: bold;
  opacity: 1;
}
