/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* @import Variables */
@import 'theme/variables';

*{
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
}

.coink-button {
  color: var(--coink-dark-green);
  cursor: pointer;
}

/* Primary */
.coink-button.primary {
  --background: var(--coink-green);
  --background-hover: rgba(var(--coink-green-rgb), 0.9);
  --background-activated: rgba(var(--coink-green-rgb), 0.6);
  --background-focused: rgba(var(--coink-green-rgb), 0.9);
  color: var(--coink-dark-green);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/* Secondary */

.coink-button.secondary {
  color: var(--coink-white);
  --background: var(--coink-dark-green);
  --background-hover: rgba(var(--coink-green-rgb), 0.9);
  --background-activated: rgba(var(--coink-green-rgb), 0.6);
  --background-focused: rgba(var(--coink-green-rgb), 0.9);
  color: var(--coink-white);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


.text-coink-primary{
  color: var(--coink-green);
}
.text-coink-secondary{
  color: var(--coink-dark-green);
}
